# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Web / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
mem-*

# Windows
Thumbs.db
desktop.ini

# PeerJS / Temp
.peerjs/
*.log

# Winget / Build outputs
dist/
publish/
publish_64/
windows/www/
*.zip
*.exe
*.msi
*.msix
.gemini